#container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: auto;
}
body{
    background-color: violet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
#result{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    color: green;
}